<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83be64">  <td>23/12/20 10:46:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddDocument.addDocuments()[pri:0, instance:Globalcare_Framework.Tests.AddDocument@37091312]">addDocuments</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="c68d71">  <td>23/12/20 10:46:53</td>   <td>52826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditDocument.editDocument()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@47f4e407]">editDocument</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="6886e7">  <td>23/12/20 10:45:58</td>   <td>-2630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initializeDriver()[pri:0, instance:Globalcare_Framework.Tests.AddDocument@37091312]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="6886e7">  <td>23/12/20 10:46:52</td>   <td>50996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initializeDriver()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@47f4e407]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="6886e7">  <td>23/12/20 10:46:51</td>   <td>50377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:Globalcare_Framework.Tests.AddDocument@37091312]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="6886e7">  <td>23/12/20 10:47:23</td>   <td>82762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@47f4e407]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
</table>
