<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5ac82">  <td>23/12/18 07:39:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initializeDriver()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@65f8f5ae]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td>  <td>main@333040629</td>   <td></td> </tr>
<tr bgcolor="b5ac82">  <td>23/12/18 07:40:22</td>   <td>23464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@65f8f5ae]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@333040629</td>   <td></td> </tr>
<tr bgcolor="d89dbd">  <td>23/12/18 07:40:01</td>   <td>2514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditDocument.editDocument()[pri:0, instance:Globalcare_Framework.Tests.EditDocument@65f8f5ae]">editDocument</td> 
  <td>main@333040629</td>   <td></td> </tr>
</table>
